@charset "utf-8";
html,
body {
  height: 100%;
}
html,
body,
div,
span,
ul,
li,
i,
ol,
dl,
dt,
dd,
input,
select,
footer,
header,
section,
article,
audio,
video,
aside,
nav {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
